<div class="container-md">
    <div class="row justify-content-center m-3">
        <div class="col-lg-7 col-xs-10">
            <div class="card">
                <img src="{{vale.img_url}}" class="card-img-top" alt="" height="400px"/>
                <div class="card-body">
                    <p class="card-title fw-bold">{{vale.title}} - R${{vale.price}}</p>
                    <p>{{sender}},parabéns pela escolha. Para finalizar sua compra,
                        verifique o link de pagamento enviado para {{emailSender}} </p>
                </div>
            </div>
        </div>
    </div>
</div>>